@import "tailwindcss";

@theme {
    --color-seqBlack : #090909;
    --color-seqGray: #3E3E3E;
    --color-seqDarkGray: #141414;
    --color-seqBlue: #48ACF0;
}

body {
    background-color: #090909;
    color: white;
}